In [4]:
# Import Dependencies
import pandas as pd

In [6]:
# Import our input dataset
data_df = pd.read_csv('Resources/gdp-per-capita-maddison-2020.csv')
GDP_per_capita_df = data_df.drop(columns=['145446-annotations'])
GDP_per_capita_df.head()

        Entity Code  Year  GDP per capita
0  Afghanistan  AFG  1950          1156.0
1  Afghanistan  AFG  1951          1170.0
2  Afghanistan  AFG  1952          1189.0
3  Afghanistan  AFG  1953          1240.0
4  Afghanistan  AFG  1954          1245.0